body{
    background:no-repeat;
    background-image: url(https://wallpapercave.com/wp/wp2794308.jpg);
    background-size: cover;
    background-position:center;
    background-attachment:fixed;
    
}


h1{
    text-align: center;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 10vh;
    color:black;
    margin-top: 10rem;
    padding-top:6rem;

}
textarea{
    width: 70%;
    height: 20vh;
    display: block;
    margin-top: 6rem;
    margin-left: 1rem;
    font-size:larger;
    font-weight: bolder;
}
#output{
    border: 2px solid black;
    height: 20vh;
    width: 70%;
    background-color: white;
    margin-left: 1rem;
    font-size: larger;
    font-weight:bolder ;

}
#btn-translate{
    width: 10pc;
    height: 3pc;
    border-radius: 60%;
    font-size: large;
    font-weight: bolder;
    background-color: yellow;
    margin: 1rem;
  }
#btn-translate:hover{
    margin: 1rem;
    width: 10pc;
    height: 3pc;
    border-radius: 60%;
    font-size: large;
    font-weight: bolder;
    background-color:green;
}
.head1{
    font-weight: bolder;
    color: rgb(17, 19, 17);
    margin-left: 1rem;
    margin-bottom: 1rem;
    font-size:xx-large;
    color:black;
}

img{
    width: 100vh;
    height: 100vh;
    float:right;
    width: 650px;
    height: 650px;
    top: -16px;

}
